# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet
*.nupkg
packages/

# Rider
.idea/

# Publish
*.pubxml
*.publishsettings

# Docker
docker-compose.override.yml
